<div mat-dialog-content>
  <div class="margin-top-100" fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <div fxFlex="70%">  
      <h2 class="title">{{form_title}}</h2>
      <form [formGroup]="registerForm" class="margin-10" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <mat-form-field class="full-width">
            <input matInput placeholder="RUT" formControlName="rut" maxlength="12">
            <mat-error *ngFor="let validation of account_validation_messages.rut">
              <mat-error class="error-message" *ngIf="registerForm.get('rut').hasError(validation.type) && (registerForm.get('rut').dirty || registerForm.get('rut').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group ">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombres" formControlName="nombres" maxlength="45" >
            <mat-error *ngFor="let validation of account_validation_messages.nombres">
              <mat-error class="error-message" *ngIf="registerForm.get('nombres').hasError(validation.type) && (registerForm.get('nombres').dirty || registerForm.get('nombres').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="full-width">
            <input matInput placeholder="Apellido" formControlName="apellido" maxlength="45">
            <mat-error *ngFor="let validation of account_validation_messages.apellido">
              <mat-error class="error-message" *ngIf="registerForm.get('apellido').hasError(validation.type) && (registerForm.get('apellido').dirty || registerForm.get('apellido').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group" *ngIf="!edit">
          <mat-form-field class="full-width">
            <input matInput placeholder="Contraseña" type="password" formControlName="contrasena" maxlength="45">
            <mat-error *ngFor="let validation of account_validation_messages.contrasena">
              <mat-error class="error-message" *ngIf="registerForm.get('contrasena').hasError(validation.type) && (registerForm.get('contrasena').dirty || registerForm.get('contrasena').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group" *ngIf="!edit">
          <mat-form-field class="full-width">
            <input matInput placeholder="Confirmar Contraseña" type="password" formControlName="repetir_contrasena" [errorStateMatcher]="matcher" maxlength="45">
            <mat-error *ngIf="registerForm.hasError('notSame')">
              Las contraseñas no coinciden
            </mat-error>                 
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="full-width">
            <input matInput placeholder="Correo" type="email" formControlName="correo" maxlength="45" email>
            <mat-error *ngFor="let validation of account_validation_messages.correo">
              <mat-error class="error-message" *ngIf="registerForm.get('correo').hasError(validation.type) && (registerForm.get('correo').dirty || registerForm.get('correo').touched)">{{validation.message}}</mat-error>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="form-group">
          <mat-form-field class="full-width">
            <input matInput placeholder="Teléfono" formControlName="telefono" maxlength="50">
          </mat-form-field>
        </div> 
        <div class="form-group">
          <mat-form-field class="full-width">
            <mat-select placeholder="Institución" [compareWith]="compareInst" formControlName="id_institucion">
              <mat-option *ngFor="let institucion of instituciones " value="{{institucion.id}}">{{institucion.nombre_institucion}}</mat-option> 
            </mat-select>  
          </mat-form-field>      
        </div> 
        <div class="form-group">
          <button [disabled]="loading" mat-raised-button matTooltip="Registrar usuario" color="primary">Guardar</button>
        </div>
      </form>   
    </div>
  </div>
</div>


