.mat-card-title{
    font-size: 16px;
}
.full-width{
    width:100%;
}
.margin-10{
    margin: 10px;
}
.overflow-y{
    overflow-y: auto;
    max-height: 500px;
}
.title-margin {
    margin-bottom: 20px;
    margin-top: 20px;
}

