.example-icon {
    padding: 0 14px;
}
.example-spacer {
    flex: 1 1 auto;
}
.mat-card-title{
    font-size: 16px;
}
.full-width{
    width:100%;
}
.margin-10{
    margin: 10px;
}
.overflow-y{
    overflow-y: auto;
    max-height: 500px;
}
.title-margin {
    margin-bottom: 20px;
    margin-top: 20px;
}
.mat-cell {
    white-space: nowrap;
    padding: 5px;
}

.mat-raised-button {
    margin-right: 5px;
}