/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.snack-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  font-weight: bold;
}

.snack-error .mat-simple-snackbar-action {
  color: #a94442;
}

.snack-info {
  font-weight: bold;
}

.snack-info .mat-simple-snackbar-action {
  color: white;
}

.snack-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  font-weight: bold;
}

.snack-success .mat-simple-snackbar-action {
  color: #3c763d;
}

html, body {
  margin: 0px;
  height: 100%;
}

.mat-toolbar {
  background-color: #3D348B;
  color: white; 
  font-size: 24px;
}

.nav-bar {
  background-color: #3D348B;
  position: fixed; 
  z-index: 2;
}

.margin-20{
  margin: 20px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.pointer tr {
  cursor: pointer;
}

.button-success {
  color: white;
  background-color: #5cb85c
}

.button-info {
  color: white;
  background-color: #5bc0de;
}

.delete-button-icon {
  background-color: #f44336;
}

.margin-right-5{
  margin-right: 5px;
}

.mat-raised-button {
  margin-right: 5px;
  font-weight: 100;
}

.mat-toolbar a.mat-button {
  font-weight: 400;
}



  